#tickets {
  border-top: dashed 1px gray;
}

#tickets tr {
  border-bottom: 1px solid gray;
}

#tickets th {
  text-align: right;
}

#qr {
  width: 128px;
}

#qr-msg {
  margin: 1em 0;
}

.doh-url {
  font-weight: bold;
  font-family: monospace;
  color: blue;
  margin: 0.5em 0;
  font-size: 1.5em;
}

span.warn {
  color: red;
}
