#tickets tr.id {
  border-top: dashed 1px gray;
}

#qr {
  width: 128px;
}

#qr-msg {
  margin: 1em 0;
}

.doh-url {
  font-family: monospace;
  color: blue;
  margin: 0.5em 0;
  font-size: 1.5em;
}

span.warn {
  color: red;
}
